# Model Building

## Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Define the path to the file
file_path = "G:/My Drive/University/Academics/Senior Year/Spring 2024/COE 444/COE 444 Project/Processed Data/Processed_Dataset.csv"

# Load the dataset
df = pd.read_csv(file_path)

TypeError: 'tuple' object is not callable

In [3]:
df.shape

(8757222, 47)

In [4]:
df.head()

,Header_Length,Protocol Type,Duration,Rate,Srate,Drate,fin_flag_number,syn_flag_number,rst_flag_number,psh_flag_number,...,Tot size,IAT,Number,Magnitue,Radius,Covariance,Variance,Weight,Attack,Category
0,138.2,7.1,83.1,39123.054540,39123.054540,0.0,0.0,0.0,0.0,0.5,...,99.0,1.694703e+08,5.5,15.954786,82.751168,3899.571692,0.9,38.5,Benign,Benign
1,86.0,4.2,44.8,72928.095973,72928.095973,0.0,0.0,0.0,0.0,0.3,...,64.4,1.694703e+08,13.5,13.405243,63.022662,1993.712535,1.0,244.6,Benign,Benign
2,171.4,4.1,32.0,52552.111857,52552.111857,0.0,0.0,0.0,0.0,0.2,...,152.1,9.108920e-02,5.5,14.407632,209.990584,42487.982728,0.9,38.5,Benign,Benign
3,227.8,6.0,64.0,24502.562704,24502.562704,0.0,0.0,0.0,0.0,0.5,...,80.2,1.694703e+08,13.5,15.986909,304.317403,46658.604610,1.0,244.6,Benign,Benign
4,347.6,7.1,64.0,6263.156480,6263.156480,0.0,0.0,0.0,0.0,0.5,...,162.5,9.976871e-02,5.5,15.169114,164.378795,30786.754580,0.9,38.5,Benign,Benign

In [5]:
df.tail()

,Header_Length,Protocol Type,Duration,Rate,Srate,Drate,fin_flag_number,syn_flag_number,rst_flag_number,psh_flag_number,...,Tot size,IAT,Number,Magnitue,Radius,Covariance,Variance,Weight,Attack,Category
8757217,3.081287e+06,17.0,64.0,110.215334,110.215334,0.0,0.0,0.0,0.0,0.0,...,766.000000,5.227089e-04,5.5,41.789981,816.169411,370193.037061,0.900000,38.500000,VulScan,Recon
8757218,3.088574e+06,17.0,64.0,110.392061,110.392061,0.0,0.0,0.0,0.0,0.0,...,710.000000,1.694533e+08,13.5,39.231907,891.404529,397500.169304,1.000000,244.600000,VulScan,Recon
8757219,3.096047e+06,17.0,64.0,110.562172,110.562172,0.0,0.0,0.0,0.0,0.0,...,766.000000,6.330013e-04,5.5,41.789981,816.169411,370193.037061,0.900000,38.500000,VulScan,Recon
8757220,3.103435e+06,17.0,64.0,110.743120,110.743120,0.0,0.0,0.0,0.0,0.0,...,762.800000,1.694533e+08,13.5,39.229518,916.119033,419638.782336,1.000000,244.600000,VulScan,Recon
8757221,3.110309e+06,17.0,64.0,110.904695,110.904695,0.0,0.0,0.0,0.0,0.0,...,734.888889,1.927243e-03,5.0,35.089465,800.829311,360921.953388,0.888889,31.666667,VulScan,Recon